In [ ]:
# Ek program likho jo "Hello World" print kare.
print("hello world")

hello world

In [53]:
# "My name is <Your Name>" print karne ka program likho.
My_name = input()
print("My name is", My_name)

My name is SHAFI

In [ ]:
# 10 aur 20 ka sum print karo (bina variables ke).
Sum1 = 10 + 20
print(Sum1)

30

In [ ]:
# name, age, aur city naam ke variables banao aur unhe print karo.
Name = input()
Age = input()
City = input()
print("i name is", Name, "my age is", Age, "and i am from", City)

i name is shafi my age is 43 and i am from karachi

In [ ]:
# Ek variable x = "10" banao aur ise integer me convert karke print karo. ye casting ka example hai.
number = "10"
number1 = int(number)
print(number1)
print(type(number1))

10
<class 'int'>

In [14]:
# type() function ka use karke har variable ka type print karo.
a = "international knitwear limited"
b = 13
c = 4.3
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

In [18]:
# Ek line me 3 variables a, b, c ko values "Apple", "Banana", "Cherry" do aur print karo. & In 3 variables ke type check karo using type().
d, e, f = "banana", "apple", "cherry"
print(f)
print(type(f))

cherry
<class 'str'>

In [ ]:
# Niche diye gaye variable names me se valid aur invalid identify karo:

# 1name = "Ali"
#_name = "Azaan"
# name_1 = "Khan"
# name-1 = "Ahmed"
# Name = "Ali"

1name = "Ali" # invalid
_name = "Azaan" # valid
name_1 = "Khan" # valid
name-1 = "Ahmed" # invalid
Name = "Ali" # valid

In [ ]:
# Ek variable PascalCase me banao, ek camelCase me, aur ek snake_case me.
# PascalCase          Har word ka first letter capital hota hai (use hota hai mostly class names me)
Myname = 'Muhammad Shafi Ahmed'
# camelCase           Pehla word small, baad ke words capital letter se start hote hain (use hota hai variables/functions me)
myName = 'Muhammad Shafi Ahmed'
# snake_case          Words ko underscore (_) se alag karte hain (Python me ye sabse common style hai)
_myname = 'Muhammad Shafi Ahmed'

In [20]:
def my_function():
    name = "Azaan"   # Local variable (sirf function ke andar use ho sakta hai)
    print("Inside function:", name)

In [ ]:
# Ek list fruits = ["apple", "banana", "cherry"] banao aur uska pehla element print karo.
fruits = ["apple", "banana", "cherry"]
print(fruits[2])
print(fruits[1])
print(fruits[0])
fruits.append("mango") # The append() method in Python is a built-in list method used to add a single element to the end of an existing list.
print(fruits)

cherry
banana
apple
['apple', 'banana', 'cherry', 'mango']

In [41]:
# Tuple me "grapes" add karne ki koshish karo — kya hota hai?
fruit = ("apple", "banana", "cherry", "graps")
fruit = fruit + ("orange",)
print(fruit)

('apple', 'banana', 'cherry', 'graps', 'orange')

In [ ]:
# Ek set banao jisme "apple", "banana", "cherry" ho aur ek naya element "mango" add karo.
# Ek dictionary banao:
# fruit = {"name": "apple", "color": "red"}
# Usme se "color" key ka value print karo.

In [1]:
# Ek Python program likho jo screen par "Hello World" print kare.
print("hello world")

hello world

In [2]:
# Ek variable x ko value 5 do aur uska type print karo.
x = 5 
print(x)

5

In [9]:
# Ek string "25" ko integer mein convert karo aur usse + 5 karke result print karo.
y = "25"
q = int(y)
print((q) + 5)

30

In [10]:
# Ek line mein a, b, c ko "Azaan", "Ali", "Khan" assign karo aur print karo.
a, b, c = ("Azaan", "Ali", "Khan")
print(a, b, c)

Azaan Ali Khan

In [ ]:
# Variable naming ke 3 valid aur 3 invalid examples likho (aur batao kyu valid/invalid hain).

d_for_doctor = "hospital" # valid
1d-doctor = "hospital" # invalid
@e-elephant = "jungle" # invalid
A1_ = "student" # valid

In [11]:
# Ek variable num = 10.5 banao aur uska type print karo.
num = 10.5 
print(type(num))

<class 'float'>

In [12]:
# Ek variable text = "100" banao, usko integer mein convert karo, aur + 50 print karo.
text = "100"
txt2 = int(text)
print((txt2) + 5)

105

In [14]:
# Ek program likho jo user se input le (string form mein) aur uska type aur integer form dono print kare.
introduction = input()
Age = input()
print("my name is", introduction, "i am ", Age)

my name is sahfi i am  15

In [ ]:
# Ek list fruits = ["Apple", "Banana", "Cherry"] banao aur uska second element print karo.
fruita = ['apple', ' Banana', 'cherry']
print(fruita[2])
# Usi list mein "Orange" add karo aur updated list print karo.
fruita.append("Orange")
print(fruita)

cherry
['apple', ' Banana', 'cherry', 'Orange']

In [23]:
# Ek tuple banao aur usse ek element access karke print karo.
student = ("Khurram", "Ubaid", "Shafi")
print(student[1])

Ubaid

In [ ]:
# Ek set colors = {"red", "green", "blue"} banao aur usme "yellow" add karo.
colors = {"red", "green", "blue"}
#colors.append("yellow") .append() sets me kaam nahi karta, sets me .add() hota hai.
colors.add("yellow")
print(colors)

{'red', 'yellow', 'green', 'blue'}

In [ ]:
# Ek dictionary person = {"name": "Ali", "age": 20} banao aur sirf "name" print karo.
person = {"name": "Ali", "Ages": 20}
# print(person[0]) 
print(person["name"])

Ali

In [52]:
# Dictionary mein ek new key "city": "Karachi" add karo aur updated dictionary print karo.
town = {"city": "Lahor", "city": "islamabad"}
# town.append("karachi") .append() dictionary me nahi hota.
# print(town, "karachi")
town["city2"] = "Karachi"

In [47]:
# Ek list numbers = [10, 20, 30, 40, 50] lo aur list ke har element ko 2 se multiply karke print karo.
numbers = [10, 20, 30, 40, 50]
for n in numbers:
    print(n * 2)

20
40
60
80
100

In [44]:
numbers = [10, 20, 30, 40, 50]
for n in numbers:
    print(n * 2)

20
40
60
80
100

In [ ]:
# Calculate the area of a circle. Take the radius as input. (Use π = 3.14)
area_of_a_circle = 360

In [ ]:
# Convert temperature from Celsius to Fahrenheit. Formula: F = (C × 9/5) + 32

Temp_f = 77
c = 25
Fahrenheit = (c * 9/5) + 32
print("Fahrenheit", Fahrenheit, "F" )

Fahrenheit 77.0 F

In [ ]:
# Calculate the simple interest. Formula: SI = (P × R × T) / 100
Present = 10000
Rate = 5.5
Time = 2
SI = (Present * Rate * Time) / 100
print(SI)

1100.0

In [ ]:
# Write a program that takes two numbers as input and prints:
# Their sum
# Their difference
# Their product
# Their quotient
add1 = 510
add2 = 410
print(add1 + add2)
print(add1 - add2)
print(add1 * add2)
print(add1 / add2)
print(add1 // add2)

920
100
209100
1.2439024390243902
1

In [10]:
# Find the remainder when 45 is divided by 6.
remainder = 45
by = 6
print(remainder % by)

3

In [ ]:
# Calculate the area of a rectangle using the formula:
# area = length * width
lenght = 75
width = 60
area = lenght * width
print(area)

4500

In [ ]:
#  Q1. Print numbers from 1 to 10.
for num in range(1 , 11) :
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 2. Print even numbers from 1 to 100.
for even_Number in range (1 , 100 , 2) :
    print(even_Number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
# 3. Print the multiplication table of a given number (e.g. table of 7).
table = int(input("Enter your number for multiplication"))
for i in range (1 , 11) :
    print(table, 'X', i , "=", table*i)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [2]:

# 4. Find the sum of the first 50 natural numbers.
# natural_numbers = int(input("Enter your multiplication number"))
# for i in range (1, 50) :
# 	print(natural_numbers+1)

total = 0

for i in range(1, 51):
    total += i
print("Sum of first 50 natural numbers is:", total)

Sum of first 50 natural numbers is: 1275

In [3]:
# 5. Reverse the digits of a number (e.g. 1234 → 4321).
Digits = 0
for i in range (1 , 5 , -1) :
	print(Digits)

In [5]:
num = int(input("Enter a number: "))
reverse = 0

while num > 0:
    digit = num % 10
    reverse = reverse * 10 + digit
    num //= 10

print("Reversed number:", reverse)

Reversed number: 15